
#title-slide {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 90px;
	}

#title-slide h1 {
	text-align: center;
	font-size: xxx-large;
	font-weight: bold;
	color: blue;
	}

#title-slide footer {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end:3;
	align-content: center;
	border-top: 2px solid black;
	font-size: medium;
	}

#LinkeSpalte {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end:2;
	align-content: center;
	text-align: center;
	}

#RechteSpalte {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end:2;
	align-content: center;
	text-align: center;
	}

#title-slide .subtitle {
	font-size: xx-large;
	}	

#title-slide .author {
	font-size: x-large;
	}

.level2 {
	text-align: left;
        }	
